
@{
    ViewData["Title"] = "iHeath後臺";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
@section Styles{
    <style>
        .container-right{
            padding:0;
        }
    </style>
}

<div style="height:96vh">

    <iframe title="HealthyLife_PowerBI數據分析" style="width:100%;height:100%" src="https://app.powerbi.com/view?r=eyJrIjoiZDVjYzA5ZWItM2YxNi00MmJhLWExY2QtNGEwMjY3M2Y5YWMwIiwidCI6ImU0ZjM2YmQyLWI1M2MtNDcwMS1hODgxLWY4NWY4ZmI0ZGI2ZSIsImMiOjEwfQ%3D%3D&pageName=ReportSectionc5e2e8a29ef2ed6fe1e4" frameborder="0" allowFullScreen="true"></iframe>
</div>
