@model prjiHealth.ViewModels.CLoginViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

@{
    ViewData["Title"] = "Login";
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />


}


@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <div class="container">
                        <!-- Outer Row -->
                        <div class="row justify-content-center">

                            <div class="col-xl-10 col-lg-12 col-md-9">

                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="row">
                                            <div class="col-xl-6 d-none d-xl-block">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                                     alt="Sample photo" class="img-fluid"
                                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div class="text-center">
                                                        <h1 class="h4 text-gray-900 mb-4">忘記密碼?</h1>
                                                    </div>

                                                    <div class="form-horizontal">
                                                        <hr />
                                                        <form asp-action="ForgotPassword">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <div class="form-group">
                                                                <i class="far fa-envelope"></i>   <label asp-for="fEmail" class="control-label">請輸入註冊時的電子信箱</label>
                                                                <input asp-for="fEmail" class="form-control" />
                                                                <span asp-validation-for="fEmail" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="送出" class="btn btn-primary" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<body class="bg-gradient-primary">



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※非會員專區的View的內容請從此處開始※※※*@

        </div>
    </div>
</section>

@section Scripts{

}


