@model prjIHealth.Models.TAuthority

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";

}

@section Styles{
    <style>
        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }
        /*        <h2 id="title">管理頁Demo</h2>*/
    </style>
}

<h2 id="title">會員權限資料編輯</h2>
<hr />
<div class="row justify-content-center ">
    <div class="col-md-4 border border-primary mt-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3"> <label asp-for="FAutorityId" class="control-label"></label></div>
                <div class="col-md-7"> <input asp-for="FAutorityId" class="form-control" autocomplete="off" /></div>
                <span asp-validation-for=" FAutorityId" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3 ">
                    <label asp-for="FAuthorityName" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FAuthorityName" class="form-control" autocomplete="off" />
                </div>
                <span asp-validation-for="FAuthorityName" class="text-danger"></span>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-md-3">
                    <label asp-for="FRemarks" class="control-label"></label>
                </div>
                <div class="col-md-7">
                    <input asp-for="FRemarks" class="form-control" autocomplete="off" />
                </div>
                <span asp-validation-for="FRemarks" class="text-danger"></span>
            </div>
            <div class="form-group row row justify-content-center">
                <div class="col-md-4 offset-md-3">
                    <input type="submit" value="存檔" class="btn btn-success" />
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-primary">返回列表</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
